.component {
    width: 100%;
    display: flex;
}

.matchSpace {
    justify-content: left;
    flex-grow: 2;
}

.match {
    border-bottom: 1px solid black;
    margin: 5% 10%;
}

.match:hover {
    background-color: #888888;
    cursor: pointer;
}

.viewCounts {
    justify-content: right;
    margin: 5% 10%;
    padding: 2% 5%;
}

