<h2>Register</h2>
<div class="registerContainer">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm"> 
        <div class="formInput">
            <mat-form-field>
                <input matInput required name="forenameInput" type="text" placeholder="First name" formControlName="forename"/>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field>
                <input matInput required  name="surnameInput" type="text" placeholder="Surname"  formControlName="surname"/>
            </mat-form-field>
        </div>
        <div class="formInput">
            <mat-form-field>
                <input matInput required name="emailInput" type="email" placeholder="Email"  formControlName="email"/>
            </mat-form-field>
        </div>
        <br><br>
        <div class="formInput">
            <mat-form-field>
                <input matInput required name="passwordInput" type="password" placeholder="Password" formControlName="password"/>
                <mat-hint>Password must contain:<br>8 Characters<br>1 Uppercase<br>1 Lowercase<br>1 Number</mat-hint>
            </mat-form-field>
        </div>
        <br><br>
        <div class="formInput">
            <mat-form-field>
                <input matInput required name="passworConfirmInput" type="password" placeholder="Confirm Password"  formControlName="passwordConfirm"/>
                <mat-error *ngIf="registerForm.errors?.notSame">Passwords do not match</mat-error>
            </mat-form-field>
        </div>
        <div class="formInput">
            <button mat-raised-button type="submit" [disabled]="registerForm.invalid">Submit</button>
        </div>
    </form>
</div>
